body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.buttons, .input-panel, .number-panel {
    margin: 20px;
}
button {
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    border-radius: 0%;
}
.selected {
    background-color: lightblue;
}
input {
    width: 50px;
    text-align: center;
    font-size: 18px;
    margin: 5px;
}
.number-panel {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    gap: 5px;
    justify-content: center;
}

.submit-button {
    grid-column: span 2;
    background-color: #4CAF50;
    color: white;
    width: 105px;
    height: 50px;
    border: solid black;
}

.number-button {
    width: 50px;
    height: 50px;
    border: solid black;
    font-size: 20px;
    color: white;
}

.number-panel button:nth-child(1) { background-color: #ff9999; }
.number-panel button:nth-child(2) { background-color: #ffcc99; }
.number-panel button:nth-child(3) { background-color: #1c0fab; }
.number-panel button:nth-child(4) { background-color: #99ff99; }
.number-panel button:nth-child(5) { background-color: #99ffff; }
.number-panel button:nth-child(6) { background-color: #9999ff; }
.number-panel button:nth-child(7) { background-color: #cc99ff; }
.number-panel button:nth-child(8) { background-color: #ff99ff; }
.number-panel button:nth-child(9) { background-color: #ff6699; }
.number-panel button:nth-child(10) { background-color: #6666ff; }
.number-panel button:nth-child(10) { background-color: #6666ff; }

